* {
    margin: 0;
    padding: 0;
}


/*menu principal*/

.menu-uv-logo {
    background-color: #18529D;
    font-size: 1.9vh;
    color: #ffffff;
}

.menu-uv-nav {
    height: auto;
    background-color: rgba(0, 153, 50, 0.8);
    font-size: 4vh;
    color: #ffffff;
}

.menu-mapa-uv {
    background-color: #33ad5b;
}

.bg-uv {
    background-color: #18529D !important;
}


/*Estilos para el menu */

.menu-perfil ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
}

.menu-perfil ul li {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
}

.menu-perfil ul li a {
    text-decoration: none;
    color: #ffffff;
}

tam {
    width: 100%;
    height: 200px;
}

#register_form fieldset:not(:first-of-type) {
    display: none;
}


/*estylos para el footer*/

.contenedor {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.item-footer {
    align-items: flex-end;
}

.item h5 {
    padding: .5rem;
}


/*main mapa principal*/

.uv-maps {
    position: absolute;
    top: -100px;
}

.menu-inf-maps-uv {
    position: relative;
    z-index: 5;
}


/*Mapa Informacion*/

.img-uv-info-maps {
    max-width: 100%;
    width: 5%;
    height: auto;
}


/*Estilos para el menu */

.menu-perfil {
    background-color: rgba(0, 153, 50, 0.8);
}

.menu-perfil ul {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.menu-perfil ul li {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    margin-left: 0px;
    background-color: #18529D;
}

.menu-perfil ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.bg-uv {
    background-color: #18529D !important;
}

.uv-padding {
    padding: 1rem;
}

.bg-login-uv {
    box-shadow: 0 2px 6px #b6b6b6;
    border-width: 0;
    border-radius: 2px;
    width: 100%;
    margin: 0 8px 8px 0;
    padding: 16px 16px 8px 16px !important;
}

.op-uv {
    position: relative;
    background: none !important;
    left: 72%;
}

.grid-uv-title {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    background-color: #33ad5b;
}

.uv-maps-logo {
    max-width: 100%;
    width: 30%;
    position: relative;
    top: 5;
}

.btn-vertical-uv {
    width: 5%;
    height: 30%;
    font-size: 3rem;
    color: rgba(0, 153, 50, 0.8);
    position: relative;
    top: 50%;
}

.contenedor-uv-vertical {
    width: 20%;
    height: 85%;
    z-index: 2;
    position: absolute;
    top: 76px;
    background-color: #33ad5b;
}

.figure i {
    font-size: 2rem;
    position: relative;
    right: 0;
    top: 5px;
    color: #ffffff;
}

.figure {
    border-bottom: solid #ffffff 1px;
    padding: 1rem;
}

.nav-uv {
    width: 23%;
    text-align: center;
    border-bottom: solid #fff 1px;
}

.label-uv {
    color: #ffffff;
}

.nav-item {
    padding: 1rem;
}

.style-uv {
    border: solid 1px #28AD56 !important;
}

hr {
    background-color: #28AD56;
}

.seguridad ul li {
    list-style: none;
}

.panel-default>.panel-heading {
    background-color: rgba(128, 128, 128, .8);
    color: #ffffff;
}


/*registro de imagenes*/

.uv-padding>img {
    max-width: 100%;
    width: 75%;
    height: auto;
}

.uv_menu-principal {
    background-color: #18529d;
    color: #ffffff;
    font-size: 3vh;
    padding: 1rem;
    padding-top: 10px;
}



.gly-rotate::before {
    transform: rotate(272deg) !important;
}


/*manejo de grid*/

.contenedor-footer-grid {
    display: grid;
    grid-auto-columns: 1fr 1fr;
}

.item:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 3vh;
    background-color: #18529d;
    color: #ffffff;
}

.item:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1rem;
    color: #ffffff;
    font-size: 2vh;
}

.item:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.item:nth-child(4) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}


/*menu principal vista completa*/

.grid-uv-title {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    background-color: #33ad5b;
}

.bg-footer {
    background-color: #18529d;
}

.bg-footer h5 {
    color: #ffffff;
}

.footer-login {
    position: sticky;
    bottom: 0;
    width: 100%;
}

.conte-login {
    position: relative;
    left: 0px;
}

.op-uv-menu {
    text-decoration: none;
}

.op-uv-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 3vh;
}

.form {
    margin: 2%
}

.uv-subir-btn {
    position: fixed;
    right: 5%;
    bottom: 3%;
}


/*card*/

.card-title-uv {
    background-color: rgba(120, 120, 120, 0.4);
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

.card {
    border: solid 1px #000000;
    margin: 1rem;
    border-radius: 5px;
}


/*menu mapa informe*/

.text-uv-title {
    position: relative;
    top: -15;
}

.hide-img-respo {
    display: none;
}

.show_logo {
    display: block;
}

.bg-uv-mapa {
    background-color: #c98094;
}

.pad-uv {
    padding: 8.5px;
}

.title-mapa-inf {
    color: #ffffff;
}

.footer-uv-informacion {
    background-color: #18529D;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    z-index: 3;
}

.menu-informe {
    position: relative;
    z-index: 5;
}


/*radio*/

.i-text{
      display: none;
}




@media (min-width: 892px) {
    .uv-al {
        text-align: left;
    }
    .menu-uv-nav {
        height: 48px;
    }
    .menu-uv-logo {
        font-size: 3vh;
    }
    .footer-login {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .conte-login {
        position: relative;
        left: -23px;
    }
    .uv-subir-btn {
        position: fixed;
        right: 5%;
        bottom: 3%;
    }
    .hide-img-respo {
        display: block;
    }
    .show_logo {
        display: none;
    }
}